
body {
  margin: 0;
  font-family: 'Play', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./assets/images/pokedex.png) no-repeat;
  background-position: top center;
  background-size: cover;
}

.current-score {
  text-align: left;
}

.instructions {
  text-align: center;
}

.top-score {
  text-align: right;
}

p {
  margin: 0;
  line-height: 1.2em;
  color: red;
  text-shadow: 3px 3px 0 black
}

.select-choice {
  width: 12.5rem;
  height: 12.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 10px;  
  position: relative;
}

.select-choice::before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: 12px; /* !importanté */
  background: red;
}


.select-choice:hover::before {
  animation: spinningGradient 0.5s ease-in-out infinite;
}

@keyframes spinningGradient {
  0%{ background: linear-gradient(0turn,#ffffff, cyan, gold); }
  10%{ background: linear-gradient(0.05turn,#ffffff, cyan, gold); }
  20%{ background: linear-gradient(0.1turn,#ffffff, cyan, gold); }
  30%{ background: linear-gradient(0.15turn,#ffffff, cyan, gold); }
  40%{ background: linear-gradient(0.2turn,#ffffff, cyan, gold); }
  50%{ background: linear-gradient(0.25turn,#ffffff, cyan, gold); }
  60%{ background: linear-gradient(0.3turn,#ffffff, cyan, gold); }
  70%{ background: linear-gradient(0.35turn,#ffffff, cyan, gold); }
  80%{ background: linear-gradient(0.4turn,#ffffff, cyan, gold); }
  90%{ background: linear-gradient(0.45turn,#ffffff, cyan, gold); }
  100%{ background: linear-gradient(0.5turn,#ffffff, cyan, gold); }
}

@media (max-width: 768px) {
  .click-image {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 576px) {  
  .click-image {
    width: 90px;
    height: 90px;
  }
}

